.Artist {
  background-color: #f0f0f0;
  height: 73vh;
  text-align: center;
}

.artistpage-profile-image {
  width: 60vw;
  height: 60vw;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 15px 0px 20px rgba(0, 0, 0, 0.1),
    -15px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0.5rem;
}

.artistpage-artist-name {
  font-weight: 600;
  margin: auto;
  padding: 0.5rem 3rem;
  width: 60vw;
  max-width: 300px;
  font-size: 1.2rem;
}

.artistpage-artist-description {
  font-weight: 250;
  margin: auto;
  padding: 0.5rem 3rem;
  width: 60vw;
  max-width: 300px;
  font-size: 0.8rem;
}

.artistpage-social {
  padding: 0.5rem 1rem;
  width: 30px;
  height: 30px;
}
