.Event {
  background-color: #f0f0f0;
  height: 73vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 888px;
  max-height: 200px;
  margin: 0 auto;
}

.eventpage-profile-image {
  width: 280px;
  height: 280px;
  margin: 0.5rem 0.5rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 15px 0px 20px rgba(0, 0, 0, 0.1),
    -15px 0px 20px rgba(0, 0, 0, 0.1);
}

.eventpage-details-container {
  width: 280px;
  margin: 0.5rem 0.5rem;
}

.eventpage-description-container {
  width: 280px;
  margin: 0.5rem 0.5rem;
}

.eventpage-buttons-container {
  width: 280px;
  margin: 0.5rem 0.5rem;
}

.eventpage-grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-template-areas:
    "eventpage-location-icon   eventpage-location"
    "eventpage-date-icon   eventpage-date"
    "eventpage-time-icon   eventpage-time"
    "eventpage-minage-icon   eventpage-minage";
  width: 280px;
  padding: 0.5rem 0rem;
}

.eventpage-event-name {
  font-weight: 600;
  padding-left: 0.8rem;
  width: 280px;
  font-size: 1.5rem;
  text-align: left;
}

.eventpage-icon {
  width: 15px;
  height: 15px;
  padding-left: 20px;
  display: flex;
  align-self: center;
}

.eventpage-details {
  font-weight: 250;
  padding: 0.5rem 0rem;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0.8rem;
}

.eventpage-location-icon {
  grid-area: eventpage-location-icon;
}

.eventpage-event-location {
  grid-area: eventpage-location;
}

.eventpage-date-icon {
  grid-area: eventpage-date-icon;
}

.eventpage-event-date {
  grid-area: eventpage-date;
}

.eventpage-time-icon {
  grid-area: eventpage-time-icon;
}

.eventpage-event-time {
  grid-area: eventpage-time;
}

.eventpage-minage-icon {
  grid-area: eventpage-minage-icon;
}

.eventpage-event-minage {
  grid-area: eventpage-minage;
}

.eventpage-event-description {
  font-weight: 250;
  width: 280px;
  font-size: 1.1rem;
  text-align: left;
}

.eventpage-event-button {
  cursor: pointer;
}

.eventpage-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  margin: auto;
  margin-bottom: 0.4rem;
  height: 30px;
  width: 280px;
  border-radius: 5px;
  text-transform: uppercase;
}

.eventpage-artist-name {
  background-color: #46c3bd;
}

.eventpage-genre-name {
  background-color: cadetblue;
}

.eventpage-going-name {
  background-color: darkslategray;
  opacity: 0.85;
}

@media (max-width: 887px) {
  .Event {
    width: 592px;
  }

  .eventpage-event-description {
    width: 560px;
  }

  .eventpage-description-container {
    width: 560px;
  }

  .eventpage-buttons-container {
    width: 560px;
  }
}

@media (max-width: 591px) {
  .Event {
    width: 280px;
  }

  .eventpage-event-name {
    text-align: center;
    padding: 0.2rem 0rem;
    font-size: 1.2rem;
  }

  .eventpage-event-description {
    text-align: center;
    font-size: 0.9rem;
    width: 280px;
  }

  .eventpage-profile-image {
    margin: 0.5rem 0rem;
  }

  .eventpage-details-container {
    margin: 0rem 0rem;
    padding: 0.3rem 0rem;
  }

  .eventpage-description-container {
    margin: 0rem 0rem;
    padding: 0.3rem 0rem;
  }

  .eventpage-buttons-container {
    margin: 0rem 0rem;
    padding: 0.3rem 0rem;
  }
}
